h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1.site-title {
	margin: 0;
}

h1.entry-title {
	font-family: $font__script;
	font-weight: normal;
}

body.archive h1.page-title {
	font-family: $font__main;
	color: $color__purple;
	font-size: 20px;
}