.type-event, .type-location {
	font-size: 22px;

	@media (max-width: 1199px) {
		font-size: 20px;
	}
	@media (max-width: 991px) {
		font-size: 18px;
	}
	@media (max-width: 767px) {
		font-size: 16px;
	}

	h1.entry-title {
		font-size: 2em;
		margin: 0.33em 0 0;
		padding: 0;
	}

	.entry-content {
		margin-top: 0.33em;
	}
}

.em-single-page {	
	.em-categories ul {
		margin: 0; 
		padding: 0;

		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}

	.em-date, .em-time, .em-location {
		font-size: 1.33em;
	}

	.em-date {
		margin-top: 20px;
	}

	.em-location {
		margin-bottom: 20px;
	}

	.em-list ul {
		margin: 0 auto;
		padding: 0 auto;
	}
}

.em-location-map-container {
	width: 100%!important;
}

.em-calendar {
	width: 100%;
	margin-bottom: 20px;

	td {
		vertical-align: top;
		
		ul {
			list-style: none;
			margin: 0; 
			padding: 0;
		}

		&.eventless, &.eventful, &.pre {
			height: 100px;
			width: 14.28%;
		}

		&.month_name {
			text-align: center;
			font-family: 'Pacifico', cursive;
			font-size:24pt;
			color: #E1327C;
			line-height: 28pt;
			font-weight: normal;
		}
	}

}

.fullcalendar {
	font-size: 0.75em;
}

tr.days-names td {
	font-weight: bold;
	color: #777777;
	height: 25px!important;
	vertical-align: middle;
}

.em-calendar thead tr td {
	border: 0;
	vertical-align: middle;
}

a.em-calnav-prev, a.em-calnav-next {
	color: #E1327C;
	padding: 10px;
	text-decoration: none;
}

a.em-calnav-next {
	padding-left: 50px;
}