html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	// background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	// background: #756ca8 url(../images/blue-tile.jpg) top center no-repeat;
	background: transparent url(../images/grass-texture-300.jpg);
	font-family: Calibri, Tahoma, sans-serif;
	position: relative;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";


div#content {
	// width: 90%;
}

.translucent-border {
	background: none repeat scroll 0% 0% padding-box white;
	-webkit-box-shadow: 0px 0px 5px 0px ;
	-moz-box-shadow: 0pt 0pt 5px 1px;
	box-shadow: 0pt 0pt 5px rgba(0,0,0,0.6) ; 
	border: 10px solid rgba(255,255,255,0.3);
}

footer.site-footer {
	position: relative;
	color: #ffffff;
	font-size: 14px;
	margin: 10px;
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
}