.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.type-page, .type-post {
	font-size: 20px;
	padding: 20px 40px;

	@media (max-width: 1199px) {
		font-size: 18px;
	}
	@media (max-width: 991px) {
		font-size: 16px;
		padding: 10px 20px;
	}
	@media (max-width: 767px) {
		font-size: 16px;
		padding: 10px;
	}

}

body.archive .page-header .page-title {
	padding: 10px 40px 0;

	@media (max-width: 991px) {
		padding: 10px 20px 0; 
	}
	@media (max-width: 767px) {
		padding: 10px 10px 0;
	}
}

body.archive .type-post {
	padding-top: 0;
}